
<section class="wrContent wrSpacing">
  <h1 [innerHTML]="aktivitet[0]?.title.rendered">Aktiviteter</h1>

    <div class="row">    
            <div class="content"> 
                <div class="col-l-7 col-m-7 col-s-7 col-xs-12" [innerHTML]="aktivitet[0]?.content.rendered"></div>    
                <div class="col-l-5 col-m-5 col-s-5 col-xs-12">
                    <img src="{{aktivitet[0]?.better_featured_image.media_details.sizes.medium.source_url}}" alt="Bådtur" id="image3" />
                </div>                           
            </div>    
    </div>
  </section>
  
  <div class="plImg1"></div>
  
  <div class="wrGray">
      <div class="wrContent per">
      <img src="{{aktivitet[1]?.better_featured_image.media_details.sizes.medium.source_url}}" alt="Svømmehallen" id="image2" />
      <h2 [innerHTML]="aktivitet[1]?.title.rendered"></h2>
        <span [innerHTML]="aktivitet[1]?.content.rendered"></span>
   </div>
  </div>
  
  <div class="plImg1"></div>
  
 
  

  <section class="wrContent"><h1>Uddannelse</h1><app-i-box class="iBoxWR" *ngFor="let iBox of i1Data" [iBox]="iBox"></app-i-box></section>
  
      
    